<!DOCTYPE html>
<html>
<head>
<title>{{.title}}</title>
</head>
<body>
<br><br><br><br><br>
<div align="center">
<h1>Accepted</h1>
<img src="https://flyclipart.com/thumb2/gambar-ceklis-png-png-image-616810.png" height="120">
<p>Mohon tunggu hingga mentee menghubungi anda,terimakasih. </p>
</div>

</body>
</html>


